.title {
  font-size: 8vw;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  color: rgb(224, 11, 100);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.divider {
  margin: 10px;
  width: 100%;
  background-color: grey;
}


